[Unit]
Description=DFR Dashboard Browser Service
PartOf=graphical-session.target

[Service]
Type=idle
Restart=on-failure
User=pi
ExecStart=chromium-browser localhost:5000 --start-maximized --start-fullscreen

[Install]
WantedBy=default.target